.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background:rgb(252,246,248);
  opacity: 90%;
  justify-content: space-around;
  color: white;
}

.titulo{
display: flex;
align-items: center;
font-weight:600;
flex-direction: column;
opacity: 1px;
padding: 10px;
width: 290px;
height: 110px;
text-decoration: underline rgb(252,246,248);
}

.foodhub{
  font-family: Montserrat;
  font-size: 60px;
  color:#202072;
}

.inicio{
  font-family: Montserrat;
  color: #202072;
}
