.pageNumbers {
  list-style: none;
  display: flex;
  color: white;
  background-color: #202072;
  position:absolute;
  left: 490px;
  border-radius: 10px;
  opacity: 90%;
  height: 40px;
}

.pageNumbers li {
  padding: 10px;
  background-color: 1px solid;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
  color: #202072;
  border-radius: 1000px;
  height: 10px;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.pageNumbers li button:hover {
  background-color: white;
  color: #202072;
}

.Foto {
  width: 312px;
  height: 231px;
  border-radius: 54px;
  opacity: 1;
}

.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.card {
  padding-top: 80px;
  border-radius: 50px 50px 50px 50px;
  background-color: rgb(252,246,248);
  color: #202072;
  width: 400px;
  height: 520px;
  opacity: 90%;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 1px 10px 20px #202072;
}

.titleAll {
  top: 326px;
  left: 46px;
  width: 1330px;
  height: 50px;
  font: normal normal normal 35px/86px Montserrat;
  color: #202072;
  opacity: 1;
}

.recipeName {
  text-align: center;
  font: normal normal 300 25px/61px Montserrat;
  color: #202072;
  opacity: 1;
}

